@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');

:root {
  --color-body-bg: #222;
  --color-primary-bg: #bbcdff;
  --color-text: #fff;
  --color-primary: #335eea;
  --color-secondary-bg: #323232;
  --color-secondary-bg-for-transparent: hsla(0,0%,100%,0.08);
  --color-primary-bg-for-transparent: hsla(0,0%,100%,0.12);
  --color-navbar-bg: rgba(34,34,34,0.86);
}

body {
  background-color: var(--color-body-bg);
  font-family: 'Barlow', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.38);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.7);
}